# Build outputs
build/
.gradle/
.gradle-version-catalogs

# Logs
*.log
logs/

# IDE
.idea/
.vscode/
*.iml
.settings/

# Sensibles
.env

# OS
.DS_Store
Thumbs.db

# Wrapper
!gradle/wrapper/gradle-wrapper.jar
