# Build outputs
build/
.gradle/
.gradle-version-catalogs

# Logs
*.log
logs/

# IDE
.idea/
.vscode/
*.iml
.settings/

# Sensibles
.properties
.yml
.env

# OS
.DS_Store
Thumbs.db

# Wrapper (commit gradlew !)
!gradle/wrapper/gradle-wrapper.jar
